<div class="row">
    <!--<div class="col-lg-12" style="height:20px;background-color:yellow;">Banner</div>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="welcome.dashboard">
                    <span>
                        <img alt="Brand" src="../../../images/logo/user.png" style="width:30px;height:30px;">
                    </span>
                    <span>Client Request Portal</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:;">{{loggedInUser}}</a></li>
                    <li><button class="btn btn-danger btn-sm" ng-click ="logout()" style="margin:10px;">Logout</button></li>
                    <!--<li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row">
    <div class="col-lg-2" style="font-size:16px;">
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
                <a ui-sref="welcome.dashboard">
                    <i class="fa fa-dashboard"></i>
                    Dashboard
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="welcome.requests">
                    <i class="fa fa-envelope"></i>
                    Requests
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="welcome.clients">
                    <i class="fa fa-users"></i>
                    Clients
                </a>
            </li>
            <li ui-sref-active="active">
            <a ui-sref="welcome.module">
                <i class="fa fa-feed"></i>
                Modules
                </a>
            </li>
            <li ui-sref-active="active">
            <a ui-sref="welcome.jobNature">
                <i class="fa fa-user-circle"></i>
                Job Nature
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div ui-view class="fade-in-up"></div>
    </div>
</div>

